
body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Times New Roman', Times, serif;
}


.faded {
  color: rgba(255, 255, 255, 0.8); 
}

header.startup {
  background-position: center;
  background-image: url("back.jpg");
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin-top: 200px;
  margin-bottom: 30px; 
}

header.startup h1 {
  font-size: 2rem; 
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}
img{
  width: 100px;
}

#img{
  display: grid inline;
  grid-gap: 20px;
  grid-template-columns: 15px;;
  word-spacing: 50px;
  
}
strong{
  font-size: 40px;
}

img:hover{
  width: 120px;
}