html{
        height: 100%;
        overflow: hidden;
    }
body{
  background-image: url(back.jpg);
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
 
}
header{
        box-sizing: border-box;
        padding: 30vw 0vw 5vw;
        position: relative;
        width: 100%;
        height: 100%;
}
header, header::before{
    background: 50% 50% / cover;
}
header::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right:0;
    top:0;
    display:block;
    background-image: url(https://s-media-cache-ak0.pinimg.com/736x/39/0f/ac/390fac5ee55f7af037c63a51286d1047.jpg);
    background-size: cover;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}
    
    img{
        height: 510px;
        width: 240px;
        margin: 1% 0%;
    }
    p{
        display: block;
        margin: 1% 10%;
        border: 5px ;
        border-style: inset;
        border-block-end-color: red;
    border-block-start-color: red;
    border-right-color: aqua;
    border-left-color: aqua;
    background-color: beige;
    font-size: 16px;
    }
    .con{
        background-color: #ffffff;
        margin: 0% 0% 1% 0%;
        width: 100%;
        height: 20%;
    }
    .footer-copyright{
        background-color: #ffffff;
        margin: 1% 0% 0% 0%;
        height: 20%;
    }
@media only Screen and (min-width : 760px) {
    html{
        height: 100%;
        overflow: hidden;
    }
    body{
         background-image: url(back.jpg);
        margin: 0%;
  padding: 0%;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  
  
  }
    header  {
        
        box-sizing: border-box;
        padding: 30vw 0 5vw;
        position: relative;
        width: 100%;
        height: 100%;
    }
header, header::before{
    background: 50% 50% / cover;
}
    
header::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right:0;
    top:0;
    display:block;
    background-image: url(bbttss.jpg);
    background-size: cover;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}
img{
    height: 810px;
    width: 540px;
    margin: 1% 0%;
}
p{
    display: block;
    margin: 1% 25%;
    border: 5px ;
    border-style: inset;
    border-block-end-color: red;
    border-block-start-color: red;
    border-right-color: aqua;
    border-left-color: aqua;
    background-color: beige;
    font-size: 20px;
}
}
.con{
    background-color: #ffffff;
    margin: 0% 0% 1% 0%;
    width: 100%;
}
.footer-copyright{
    background-color: #ffffff;
    margin: 0%;
}